{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": ["tsconfig.json", "apps/**/tsconfig.json", "packages/**/tsconfig.json"],
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/strict-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked"
  ],
  "ignorePatterns": ["**/node_modules/**", "**/dist/**"],
  "rules": {
    // DIY
  }
}
