{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "tsconfigRootDir": ".",
    "project": ["tsconfig.json", "apps/**/tsconfig.json", "packages/**/tsconfig.json"],
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "jest"],
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/strict"
  ],
  "ignorePatterns": ["**/node_modules/**", "**/dist/**", "**/jest.config.ts"],
  "rules": {
    // DIY
  }
}
